hr {
    height: 5px;
    border: 1px solid black;
    background: black;
}

.intro {
    text-align: center;
    color: rgb(43, 42, 42);
    font-size: 60px;
    
}

.subheader {
    text-align: center;
    color: rgb(43, 42, 42);
    font-size: 20px;
}


#tasks9, #tasks10, #tasks11, #tasks12, #tasks1, #tasks2, #tasks3, #tasks4, #tasks5 {
    height: 100%;
    width: 100%;
    background: rgb(143, 143, 143);
    border: none;
    padding: none;
    margin: none;
}

.row {
    height: 100px;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
}

h1 {
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
}

.time {
    background: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.saveIcon {
    background: rgb(2, 120, 175);
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    text-align: center;
    position: relative;
}


.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fa9.fa10.fa11.fa12.fa1.fa2.fa3.fa4.fa5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.currentDate {
    text-align: center;
}

/* .fa {
    color: white;
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
} */





