hr {
    height: 5px;
    border: 1px solid black;
    background: black;
}

.intro {
    text-align: center;
    color: rgb(43, 42, 42);
    font-size: 60px;
    
}

.subheader {
    text-align: center;
    color: rgb(43, 42, 42);
    font-size: 20px;
}

.row {
    border-radius: 10px;

}

#tasks {
    height: 100%;
    width: 100%;
    background: rgb(143, 143, 143);
    border: none;
    padding: none;
    margin: none;

}

.card {
    /* height: 80px;
    border: 1px solid white; */
    /* background: rgb(143, 143, 143); */
    /* border-radius: 10px;
    padding-left: 0; */
}

.time {
    background: white;
    min-height: 100%;
    width: 80px;
    border: 0;
    border-right: 2px solid black;

}

.saveIcon {
    background: rgb(2, 120, 175);
    border: 2px solid white;
    border-radius: 10px;
    height: 80px;
    width: 80px;
}

.fa.fa-lock {
    color: white;
}



